# GitHub
.github/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# Environment
.env*

# Logs
*.log
git.txt
